<% include ../partials/header %>

<link rel='stylesheet' href='/landing.css'>

<body>

        <div id="landing-header">
                        <h1>Welcome to my Book Reviews!</h1>
                        <a href="/books" class="ui inverted green button">View All Book Reviews</a>
        </div>

        <ul class="slideshow">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>

<% include ../partials/footer  %>