<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Book List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
        <link rel='stylesheet' type='text/css' href='/index.css'>
        <link rel="icon" href="http://iconutopia.com/wp-content/uploads/2016/06/rocket-book.png">
    </head>
    <body>
    

    <div class='ui fixed inverted menu'>
        <div class='ui container'>
            <div class='header item'><i class="book icon big"></i> One Man <br> Book Club </div>
            <a href='/' class='item'> Home </a>
           <!-- Not sure whether I need other-->
           <a href='#' class='item right'> Add new Book Review </a> 
           <a href='#' class='item right'> Login </a> 
           <a href='#' class='item right'> Sign In </a> 
           <a href='#' class='item right'> Log Out </a> 

        </div>
    </div>