<% include ./partials/header  %>

<div class=''>
    <header class='registerForm' class='ui container'>
            <h1>Register Page</h1>
    
            <form class='ui form' action='/register' method='POST'>
                <p><input class='' name='username' type='text' placeholder='username'></p>
                <p><input class='' name='password' type='password' placeholder='password'></p>
               <p> <button class='ui button primary'>Register!</button></p>
            </form>
    </header>

    <!-- <a class='btn btn-primary btn-md' href='/campgrounds' id='addBackBtn'>Go back</a> -->
</div>


<% include ./partials/footer  %>