body{
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li{
    list-style: none;
}
#pages{
}
.registerForm{
    padding-top:7.0em;
    width:20%;
    text-align: center;
    margin:0 auto;
}
.container.main{
    margin-top:7.0em;
    margin-left:50px;
}
#mainHeader{
    font-size: 65px;
    text-align: center;
    color: rgb(228, 228, 228);
}
i.icon{
    font-size: 2em;
}
.six.wide.column{
    height:90px;
}
img{
    height:250px;
    width: 400px;
}

#mainDivIndex{
    margin-bottom:120px;
}

#mainNewDiv{
    margin-bottom: 100px;
}
#goBackBtn{
    margin-left:60%;
}
#showMainDiv{
    margin-bottom:100px;
}
#deleteBtn{
    margin: 20px 33% ;
}
#imageDiv{
    margin-top:20px;
}